[dir=ltr] .md-nav--integrated>.md-nav__list>.md-nav__item--active .md-nav--secondary {
    border-left: .05rem solid #b1b4ba;
}
/* рамка коментов */
.corner-wrapper {
    margin-top: 30px;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    transform: translateZ(0px);
    border: 3px solid #bec1c6;
    background-color: #ffffff;
  }
/* Красивые кнопки   */
.md-typeset .md-button {
    border-radius: 0.3rem;
    font-weight: 400;
    font-size: 0.7rem;
    padding: 0.45em 0.9em;
    color: var(--md-typeset-color);
    margin-bottom: 10px;
}